---
import "@/styles/global.css";
import Rowengartner from "@/components/Rowengartner";

const title = "Henry Rowengartner";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={title} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body class="m-0 p-0">
    <Rowengartner client:load />
  </body>
</html>
