---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="404 - Page Not Found">
  <h1 class="text-3xl md:text-4xl font-bold mb-6 leading-tight">
    404 - sorry couldn't find that one.
  </h1>
  <a href="/">&larr; home</a>
</BaseLayout>
