---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import ReadingSection from "@/components/ReadingSection.astro";
import PhotographySection from "@/components/PhotographySection.astro";
import CodeSection from "@/components/CodeSection.astro";

const readingPosts = (await getCollection("reading", ({ data }) => data.published)).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);

const photographyPosts = (await getCollection("photography", ({ data }) => data.published)).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);

const codePosts = (await getCollection("code", ({ data }) => data.published)).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);
---

<BaseLayout className="prose">
  <h1>hello, my name is ty carlson</h1>

  <p class="leading-relaxed">
    I have been building websites, web apps, mobile apps, design systems, and most anything in
    between for over a decade. I am currently a Senior Frontend Engineer at{" "}
    <a href="https://givebutter.com/" target="_blank" rel="noreferrer nofollow">Givebutter</a>,
    bringing together everything changemakers need to successfully raise funds for good causes.
  </p>

  <p class="leading-relaxed">
    I currently live in Connecticut with my wife (Lauren), son (Liam), and daughter (Remi).
  </p>

  <p class="leading-relaxed">
    Occasionally I enjoy taking on freelance projects. If you're looking for that sort of thing,
    feel free to <a href="mailto:tywayne@fastmail.com">email me</a>.
  </p>
  <hr />

  <ReadingSection posts={readingPosts} />
  <hr />

  <PhotographySection posts={photographyPosts} />
  <hr />

  <CodeSection posts={codePosts} />
</BaseLayout>
